@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --faded-green: #fafafa;
  --light-green: #e6f0f1;
  --darker-green: #50867a;
  --green-hover: hsla(165, 40%, 50%, 0.8);
  --green-button: #20847c;
  --dark-grey: hsla(0, 0%, 0%, 0.8);
}

body {
  background-color: var(--light-green);
  font-family:'Lato', sans-serif;
  color: var(--dark-grey);
}


/* header */

/* logo */
img[id="header-img"] {
  height: 90px;
  width: auto;
 
  }
  .logo {
    margin: 0 1.5rem;
    z-index: 2;
  }

/* header */
header a, footer a {
  color: var(--dark-grey);
  text-decoration: none;
  padding: 0 1.5rem;
}

header {
  position: fixed;
  top:0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 1.15rem;
  width:100%;
}

.nav-link:hover {
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  width: fit-content;
}

/* Dropdwon menu*/

/* dropdown content - hidden by default */
.dropdown-content {
  left: 0;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  padding: 1rem;
  background-color: white;
  position: absolute;
  width: 100vw;
  z-index: 1;
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s ease-out;
}
.dropdown-content img {
  height: 350px;
  width: auto;
  display: block;
}

.dropdown:hover .dropdown-content{
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-out;
  }

.dropdown-content a:hover {
    color: var(--green-button);
}
body::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: black;
  opacity: 0;
  z-index: -1;
}

 .dropdown:hover body::after {
  opacity: 0.5;
}

/* links inside the dropdown without img*/

.dropdown-links {
  padding: 2rem  3rem;
  width: max-content;
}

.dropdown-links a {
padding: 0.75rem 1rem;
text-decoration: none;
display: block;
font-size: 1rem;
white-space: nowrap;
}

.all-category {
  width: 25%;
  display: block;
  font-size: 1.75rem;
  padding-top: 2.5rem;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%
}


/* content */
.container {
  position: relative;
  top: 90px;
  width: 100%;
}

 h1 {
   font-size: 3rem;
   margin-bottom: 2.25rem;
 }

h2 {
  font-size: 2.25rem;
  margin: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  text-align:center;
  padding: 1.25rem;
}

h4 {
  font-size: 1.3rem;
  padding-bottom: 10px;
}


/* main page */

#main-page {
  display: flex;
  align-items: center;
  height: 90vh;
  flex-direction: row;
}

.box-one {
  padding: 2rem;
  margin: 2rem;
  width: 50%;
}

.link-box {
  display: inline-block;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.shop-button {
  text-decoration: none;
  padding: 1rem 3rem;
  margin: 0.75rem 0;
  line-height: 2rem;
  background-color: var(--green-button);
  display: block;
  width: 15rem;
  color: var(--light-green);
  border-radius: 5px;
}

.shop-button:hover {
  transition: 0.25s ease-out;
  background-color: var(--green-hover);
  transition: background-color 0.25s linear;
}

.box-two {
  width: 50%;
  height: 100%;
}


/* Plant section */

#plants {
  text-align: center;
  padding: 2.5rem 0;
  background-color: var(--faded-green);
  border-radius: 10px;
}

.plant, .pots {
  border: solid 1px var(--darker-green);
  border-radius: 15px;
  padding: 1.25rem 1.25rem;
  margin: 1rem 1.75rem;
  line-height: 25px;
  max-width: min-content;
}

.plant p {
  padding: 0 1rem;
}

#plants a, #pots a {
  display: inline-block;
  color: var(--green-button);
  font-size: 1.75rem;
  padding: 0.75rem 0;
  margin: 0.75rem 0;
  text-decoration: none;
}

.plant:hover h3{
  transition: color 0.25s;  
  color: var(--green-button);
}

.plant:hover {
  cursor: pointer;
}

#plants a:hover, #pots a:hover {
  border-bottom: 2px solid var(--green-button);
}

.grid-container, .grid-pots{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}

.plant img, .pots img {
  height: 100%;
  max-height: 20rem;
  width: auto;
  border-radius: 15px;
}


/* Pots section */

#pots {
  text-align: center;
  padding: 2.5rem 0;;
}

.pots:hover {
  cursor: pointer;
}

.pots:hover h3 {
  color: var(--green-button);
  transition: 0.25s;
}

.price {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 10px 0;
}

.btn {
  background-color: var(--green-button);
  border: none;
  display: block;
  padding: 0.15rem;
  margin: 1rem auto;
  min-width: 175px;
  font-size: 1.25rem;
  font-weight: 500;
  min-height: 2.25rem;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.btn img {
  display: inline-block;
  height: 17.5px;
  padding: 0.2rem 0.5rem 0 0;
}

.btn:hover {
  transition: background-color 0.25s linear;
  background-color: var(--green-hover);
  cursor:pointer;
}


/*delivery banner*/

.delivery-banner {
  text-align:center;
  padding: 1rem 0;
  background-color: var(--faded-green);
  font-size: 1.75rem;
  font-weight: 900;
}

.delivery-banner img{
display: inline;
vertical-align: middle;
}

.delivery {
  display: inline-block;
  vertical-align: middle;
  margin: 2rem;
}


/* newsletter */

#newsletter {
  text-align: center;
  background-image: url("./images/thomas-verbruggen-5A06OWU6Wuc-unsplash copy.jpg");
  height: 100vh;
  background-size: cover;
}

.submit-form {
  display: flex;
  position: relative;
  top: 10%;
  align-items: center;
  justify-content: center;
}

#newsletter input[type="email"] {
  height: 2.75rem;
  padding: 1rem;
  font-size: 1.1rem;
  max-width: 400px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top:1.25rem;
  margin-bottom:1.25rem;
}

#newsletter input[type="submit"] {
  display: block;
  padding: 1rem;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  max-width: 400px;
  width: 100%;
  color: white;
  background-color: var( --green-button);
}

#newsletter input[type="submit"]:hover {
  background-color: var(--green-hover);
  transition: 0.25s;
}

/* About us */
#about-us {
  margin: 2rem;;
  text-align: center;
}

.why-us-container {
display:flex;
align-items: center;
justify-content: center;
margin: 1.75rem;
}

.why-us-box {
  width: 30%;
  margin: 0.5rem;
}

.why-us-box a {
  display: inline;
  padding: 0;
}

.why-us-box img {
  width: 70px;
  height: auto;
}

#about-us a {
  color: var(--green-button);
}

footer {
  display: flex;
  position: relative;
  top: 75px;
  justify-content: flex-end;
  background-color:white;
  padding: 0 50px;
  text-decoration: none;
}

footer > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 2vw;
  width: 40vw;
}

footer li {
  list-style: none;
}


@media only screen and (max-device-width : 576px) {

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.25rem;
  margin: 2.5rem;
}
h3 {
  font-size: 3.25rem;

}

header {
  max-height: 17rem;
  font-size: 3rem;
  padding: 1rem;
}

img[id="header-img"] {
  height: 15rem;
  width: auto;
}

  .container {
    top: 17rem;
    bottom:15rem;
}



/* main page */


#main-page {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.box-one {
  position: absolute;
  top: 50vh;
  margin: 2rem;
  width: max-content;
  text-align: center;
}

.link-box {
  font-size:1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-button {
  margin: 1.25rem;
  font-size: 3.25rem;
  padding: 1.75rem;
  line-height: 5rem;
  width:100%;
}

.box-two {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45vh;
}

.grid-container, .grid-pots {
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 100%;
}

.plant, .pots {
  font-size: 2.25rem;
  line-height: 3rem;;
}

  .plant img, .pots img {
    height: 100%;
    max-height: 70rem;
    width: auto;
    padding: 1.5rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3.5rem;
    width: 100%;
    font-size: 2rem;
    max-width: 20rem;
}
.btn img {
    height: 4.75rem;
}
  .plant p {
    text-align: justify;
    padding: 0.25em 1.75rem;
}
  #newsletter {
    height: 45vh;
    background-size: cover;
}

.delivery {
  font-size: 2.75rem;
}

.submit-form {
margin:1rem;
}

#newsletter input[type="email"] {
  padding: 1.25rem;
  font-size: 1.75rem;
  max-width: 40rem;
  width: 100%;
}

#newsletter input[type="submit"] {
  padding: 1.25rem;
  font-size: 1.75rem;
  max-width: 40rem;
  width: 100%;
}

.us-container {
  flex-direction: column;
  margin: 1rem;
  font-size: 1rem;
}

  footer > ul {
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
  }
}


